
@media(max-width: 1264px){
    .container-right{
        padding-left: 15px;
    }

}

@media(max-width: 950px){
    .newcomer{
        .wrapper{
            flex-direction: column;
            gap: 40px;

            .block-title{
                text-align: center;
                max-width: 100%;
            }

            .cards-wrapper{
                min-width: 300px;
                justify-content: space-around;
            }
        }
    }

    footer{
        .wrapper{
            .logo-block{
                max-width: 260px;
                padding-right: 10px;
            }
        }
    }

}

@media(max-width: 850px){
    .nav-wrapper{

        .nav-list{
            display: none;
        }

        .bttn-wrapper{
            display: none;
        }

        .menu-icon-wrapper{

            display: flex;
        }
    }

    .nav-wrapper--mobile{
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: var(--bg-dark);

        justify-content: space-around;

        .nav-list{
            display: flex;
            flex-direction: column;
            gap: 4vh;
        }

        .bttn-wrapper{
            display: block;
        }
        .menu-icon-wrapper{

            display: flex;

            position: absolute;
            top: 34px;
            right: 20px;
        }
    }

    .cards-wrapper {

        .card {
            background: rgba(40, 48, 54, 0.6);

            &::after{
                content: '';
                width: 65px;
                height: 65px;                    
                position: absolute;
                top: 0;
                right: 0;

                background: rgba(255, 110, 48, 0.3);
                filter: blur(25px);
            }
        }
    }

    footer{
        .wrapper{
            flex-direction: column;
            gap: 40px;

            .logo-block{
                max-width: 260px;
                max-width: 100%;

                p{
                    padding-right: 20px;
                }
            }

            .column{
                border-radius: 8px;
                padding: 10px 0 10px 10vw;
                    box-shadow: 0 0 3px var(--color-orange);

                .title{
                    cursor: pointer; 
                    position: relative;
                    
                    &::after{
                        content: '';
                        width: 16px;
                        height: 28px;
                        position: absolute;
                        top: 50%;
                        right: 20px;

                        background-image: url(../images/arrow-orange.svg);

                        transform: translateY(-50%) rotate(90deg);
                        transition: 0.5s linear;

                    }
                    
                }

                .content{
                    

                    display: none;
                }
            }

            .column-active{

                .title{
                    
                    &::after{

                        transform: translateY(-50%) rotate(-90deg);
                        transition: 0.5s linear;

                    }
                    
                }
                .content{
                    display: flex;
                }
            }
        }
    }
}

@media(max-width: 750px){
    .header{
        .header-content{
            .header-img-wrapper{
                width: 100%;
                opacity: 0.3;
            }
        }
    }

    .swiper-slide{
        flex-direction: column;
    }
}

@media(max-width: 650px){


.popular-tools {
    padding-top: 100px;

    .load-tools{
        padding-top: 40px;
    }
}

.trusted {
    padding-top: 100px;
}

.newcomer {
    padding-top: 80px;
}

.slider {
    padding-top: 100px;

    .swiper {
        padding-bottom: 40px;
    }
}

.contributor {
    padding-top: 100px;
}

footer {
    padding-top: 100px;
}

    .contributor {
    
    
    .wrapper {
        .input-wrapper {
    
            input{
                max-width: 260px;
            }
        }
    }
    }
}

@media(max-width: 600px){
    .header{
        .header-content{
           .content-wrapper{
            h1{
                font-size: 40px;
            }
           }
        }
    }
}

@media(max-width: 550px){
    .header{
        .header-content{
           .content-wrapper{
            .search-wrapper{
                input{
                    width: 180px;
                }
            }
           }
        }
    }
    .container-right{
        padding: 0 15px;
    }

    .contributor {
    
    
        .wrapper {
            .input-wrapper {
        
                input{
                    max-width: 200px;
                }
            }
        }
        }
}

@media(max-width: 450px){
    h2{
        font-size: 38px;
        line-height: 130%;
      }
    .header{
        .header-content{
           .content-wrapper{
            .search-wrapper{
                input{
                    width: 150px;
                }
                button{
                    padding: 8px 28px;
                }
            }
           }
        }
    }

    .trusted{
        .wrapper{
            .title{
                font-size: 16px;
            }
        }
    }

    .swiper{
        .button-next, .button-prev{
            display: none;
        }
    }

    .swiper-slide{
        padding: 0 15px;
        .image-block{
            .img-wrapper{
                .info{
                    .name{
                        font-size: 20px;
                    }
                }
            }
            
        }
    }

    .contributor {
    
    
        .wrapper {
            .input-wrapper {
        
                input{
                    max-width: 140px;
                }

                button{
                    font-size: 12px;
                    padding: 8px 22px;
                }
            }
        }
        }
}

@media(max-width: 400px){
    .header{
        .header-content{
           .content-wrapper{
            padding-top: 60px;
            h1{
                font-size: 30px;
            }
            .search-wrapper{
                input{
                    width: 120px;
                }
                button{
                    padding: 8px 28px;
                }
            }
           }
        }
    }
}

