

.newcomer {
    padding-top: 200px;
    overflow: hidden;

    .wrapper {
        display: flex;
        gap: 20px;
        justify-content: space-between;

        .block-title {
            max-width: 430px;

            p{
                padding: 30px 0 60px 0;
                font-size: 18px;
                line-height: 30px;

                opacity: 0.55;
            }

            a{
                display: inline-block;
                padding: 16px 40px;
                font-size: 18px;
                line-height: 27px;
                border-radius: 8px;

                background-color: var(--color-orange);

                transition: 0.3s linear;

                &:hover{
                    transform: scale(1.05);
                    transition: 0.3s linear;
                }
            }
        }

        .cards-wrapper {
            min-width: 620px;
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: flex-end;

            .card {
                position: relative;
                max-width: 300px;
                padding: 28px 20px;
                border-radius: 14px;
    
                display: flex;
                flex-direction: column;
                gap: 30px;
                overflow: hidden;
                transition: 0.5s linear;
    
                &:hover{
                    background: rgba(40, 48, 54, 0.6);
                    transform: translateY(-16px);
                    transition: 0.5s linear;
    
                    &::after{
                        content: '';
                        width: 65px;
                        height: 65px;                    
                        position: absolute;
                        top: 0;
                        right: 0;
    
                        background: rgba(255, 110, 48, 0.3);
                        filter: blur(25px);
                    }
    
                    .title-wrapper .title .cost{
                        opacity: 1;
                    }
    
                    .bottom-block .button{
                        background-color: var(--color-orange);
                        opacity: .8;
                        color: var();
                    }
                }
    
                .title-wrapper {
                    display: flex;
                    gap: 30px;
    
                    .img-wrapper {
                        max-width: 60px;
    
                        img{
                            object-fit: fill;
                        }
                    }
                    .title {
                        h3{
                            font-size: 24px;
                            line-height: 36px;
                            opacity: 0.78;
                          }
                    }
                    .cost {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 27px;
    
                        color: var(--color-orange);
                        opacity: 0.55;
                    }
                }
    
                .descripton {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 30px;
                
                    opacity: 0.5;
                }
    
                .bottom-block {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
    
                    .images-wrapper {
                        display: flex;
                        align-items: center;
                        gap: 20px;
    
                        svg{
                            cursor: pointer;
                            fill: var(--text-color-white);
                            fill-opacity: 0.38;
    
                            &.like{
                                fill: #FD3B41;
                                opacity: 1;
                                fill-opacity: 1;
                            }
    
                            &:hover{
                                fill: #FD3B41;
                                opacity: 1;
                                fill-opacity: 1;
                            }
                        }
                        
                    }
    
                    .button{
                        color: var(--text-color-white);
                        font-weight: 600;
                        padding: 9px 34px;
                        border-radius: 8px;
    
                        opacity: 0.55;
    
                        &:hover{
                            background-color: var(--color-orange);
                            opacity: 1;
                        }
                    }
                }
            }
        }

        
    }
}

